*{
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
}
.logo{
  width: 40%;
  align-items: center;
  display: flex;
}
.logo h1{
  padding-left: 20px;
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: 'Mclawsuit';
  font-size: 68px;
  color: white;
}
.header ul{
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.header li a{
  font-family: 'Montserrat';
  font-size: 24px;
  color: white;
  text-decoration: none;
}
.button{
  background: white;
  width: 190px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .button a{
  text-decoration: none;
  color: #101010;
}
.header{
display: flex;
width: 100%;
background-color:#101010;
border-bottom: white 2px solid;
}
.block1{
  width: 100%;
  background: #101010;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}
.block1 .title{
font-family: 'Montserrat';
font-size: 75px;
color: white;
margin-top: 75px;
font-weight: normal;
}
.block1 .title2{
font-family: 'Montserrat';
font-size: 75px;
color: white;
font-weight: lighter;
}
.block1 .title3{
font-family: 'Montserrat';
font-size: 75px;
color: white;
font-weight: bold;
}
.image{
  margin-top: -80px;
}
.block1 h3{
color: white;
font-family: 'Montserrat';
font-weight: lighter;
margin-bottom: 38px;
font-size: 30px;
}
.button2{
  background: #101010;
  width: 185px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 95px;
}
.button2 a{
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat';
}
.block2{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.block2 h2{
  color: #101010;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 36px;
  margin-top: 117px;
}
#slider{
  width: 35%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slider .image2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slider .image2 img{
  width: 60%;
  height: auto;
}
.arrow{
  display: flex;
  width: 100%;
  margin-bottom: 68px;
}
.arrow #precedent{
  width: 30%;
}
.arrow .text{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow .text p{
  color: #101010;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
.arrow #suivant{
  display: flex;
  width: 30%;
  justify-content: flex-end;
}
.block3 {
  width: 100%;
  height:auto;
  background: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 163px;
  background: pink;
  position: relative;
}
.block3 img{
  width: 100%;
  height: auto;
}
.block3 h2{
  z-index: 1;
  font-family: 'Montserrat';
  font-size: 70px;
  font-weight: bold;
  position: absolute;
  top: 49px;
  left: 127px;

}
.block3 h3{
  width: 20%;
  z-index: 1;
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: normal;
  position: absolute;
  left: 127px;
  top: 156px;
}
.block3 .button3 {
  background: white;
  width: 185px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 127px;
  z-index: 1;
  top: 283px;
  position: absolute;
}
.block3 .button3 a{
  font-size: 18px;
  text-decoration: none;
  color: #101010;
  font-family: 'Montserrat';
}
.block4{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.block4 h2{
  font-size: 36px;
  font-family: 'Montserrat';
  font-weight: bold;
  margin-bottom: 59px;
}
.menu2{
  width: 100%;
  display: flex;
  align-items: center;
}
.block4 .menu2 ul{
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 287px;
  margin-right: 204px;
  padding-right: 210px;
  padding-left: 210px;
  margin-bottom: 52px;
}

.block4 .menu2 li a{
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: normal;
  text-decoration: none;
  color: #101010;
}
.presentation{
  width: 100%;
  margin-top: 100px;
}
.presentation h4{
width: 70%;
color: white;
font-family: 'Montserrat';
font-size: 24px;
font-weight: normal;
text-align: center;
}
.presentation p{
  color: white;
  width: 70%;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 53px;
  margin-top: 43px;
  text-align: center;
}
.ligne{
  display: flex;
  width: 100%;
  margin-bottom: 148px;
  justify-content: space-around;
}

.carte{
width: 444px;
background: #101010;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border-radius: 10%;
height: auto;
margin-left: 122px;
padding-bottom: 20px;
}
.carte img{
  margin-top: -120px;
}
.button3{
  background: white;
  width: 185px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button3 a{
  font-size: 18px;
  text-decoration: none;
  color: #101010;
  font-family: 'Montserrat';
}
